@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
}

@media screen and (max-width: 600px) {
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        content: '';
        display: block;
        clear: both;
      }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-containers {
      flex-direction: column;
  }

  .article-container {
      grid-template-columns: 1fr;
  }

  .details-container {
      width: 100%;
  }
}

/*
   Media Queries
--------------------------- */
@media (min-width: 768px) and (max-width: 1200px) {

  .aboutUs-container {
      background-repeat: no-repeat;
      background-position: right;
      background-size: auto 59%;
      background-position-y: 150px;
  }
}

@media (max-width: 768px) {
  .navStyle {
      float: right;
      width: auto;
      text-align: center;
  }

  .aboutUs-container {
      background-image: none;
  }

  p {
      font-size: 14px;
  }

  .top_cont_outer {
      height: 420px;
  }

  .hero_section {
      position: relative;
      padding-top: 10px;
  }

  .top_left_cont {
      padding: 38px 0;
  }

  .top_left_cont h2 {
      font-size: 25px;
      color: #FFF;
      line-height: 39px;
      margin: 0 0 9px 0;
  }

  .inner_section {
      padding: 20px 0 20px;
  }

  #aboutUs img {
      margin-bottom: 20px;
  }

  #aboutUs h3 {
      font-size: 26px;
      line-height: 22px;
  }

  .service_block h3 {
      font-size: 16px;
  }

  service_block p {
      font-size: 14px;
      margin: 0px;
      margin-bottom: 20px;
  }

  #filters ul {
      padding-left: 0px;
  }

  .form {
      margin: 0 18px;
  }

  .page_section.team {
      padding: 40px 0;
  }

  #clients {
      padding: 40px 0;
  }

  .client_logos ul li {
      display: inline;
      margin: 0 25px;
      padding: 11px 0;
      display: inline-block;
  }

  .social_links li,
  .contact_section {
      margin: 0;
  }

  h2,
  .contact_section h2 {
      font-size: 30px;
  }

  .page_section.contact {
      padding: 60px 0 50px;
  }

  .navbar-inverse .navbar-toggle .icon-bar {
      background: #ED5441;
  }

  .navbar-inverse .navbar-toggle {
      border-color: transparent;
  }

  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
      background: none;
      outline: none;
  }

  .navStyle ul li {
      display: block;
  }

  .navStyle {
      float: right;
      width: 100%;
      text-align: center;
  }

  .navbar {
      border: 0px solid #fff;
      min-height: 40px;
      margin-bottom: 0px;
      float: right;
  }

  .navStyle ul li {
      display: block;
      margin: 0px;
  }

  .navStyle ul li:last-child {
      margin: 0px;
  }

  .navbar-inverse .navbar-nav>li>a {
      color: #222;
      font-size: 12px;
      padding: 10px 11px;
  }
}

@media (max-width: 480px) {
  .navStyle {
      float: left;
      width: 100%;
      text-align: left;
  }

  .navbar {
      border: 0px solid #fff;
      min-height: 40px;
      margin-bottom: 0px;
      float: initial;
      width: 100%;
  }

  .team_area {
      width: 99%;
  }

  .read_more2 {
      display: none;
  }
}

.rt-box {
  float: left;
  width: 70%;
  text-align: left;
  margin-left: 10px;
}

img.img.img-circle.lt-box {
  float: left;
  width: 60px;
  height: auto;
}

@media (max-width: 768px) {
  .footer_wrapper {
      text-align: center;
  }

  .social_links {
      justify-content: center;
  }

  .col-lg-8,
  .col-lg-4 {
      width: 100%;
  }
}